-
    let nav = [
        {
            name: "Home",
            url: "/"
        },
        {
            name: "Game",
            url: "/game"
        }
    ];

nav.navbar.navbar-expand-md.navbar-dark.bg-dark.text-white.border-bottom
    .container-fluid
        a.navbar-brand(href='#') Tetris
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                each link in nav 
                    if (link.url == currentPage)
                        a.nav-link.active(aria-current='page' href=link.url)= link.name
                    else
                        a.nav-link(aria-current='page' href=link.url)= link.name
