doctype html
html(lang="en")
    head
        script(src="/socket.io/socket.io.js") 
        block head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='google-signin-client_id' content='638312205904-tjff8pm437b6uhtcn3o29mi4e4jm69nd.apps.googleusercontent.com')
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/master.css")
        script(src="https://apis.google.com/js/platform.js" async defer)
        script(src="/js/bootstrap.min.js") 
        title Tetris
    body 
        include nav.pug 
        main 
            block main 
