extends components/template.pug

block head 

block main 
    section.mt-5
        h1.large-text Tetris Online
        a.btn.btn-primary.mt-2.medium-text(href="/login") 
            strong Get Started 

    include components/transitions/black-blue.pug
    
    section.bg-blue.remaining-height
        h1.large-text Versus
        div.medium-text.w-50
            strong.w-50 Create a lobby and compete against others and see who can be the last one to survive the lines sent from your opponents.

    include components/transitions/blue-orange.pug

    section.bg-orange.remaining-height
        h1.large-text 40 Lines
        div.medium-text.w-50
            strong.w-50 Clear lines as fast as you can and see how quickly you can remove 40 lines from the board. Compare against others scores on the Leaderboard!

    include components/transitions/orange-pink.pug

    section.bg-pink.remaining-height
        h1.large-text Zen
        div.medium-text.w-50
            strong.w-50 Chill gamemode where you just play for as long as you can. Can also compare how long you can survive for on the Leaderboard!

    include components/transitions/pink-black.pug

    include components/footer.pug