extends components/template.pug

block head 

block main 
    section.m-4
        .leaderboardLinks
            if (leaderboard == '40lines')
                a(href="/leaderboard/40lines") 
                    h2.d-inline.active 40 Lines
            else 
                a(href="/leaderboard/40lines") 
                    h2.d-inline 40 Lines
            if (leaderboard == 'zen')
                a.ms-4(href="/leaderboard/zen") 
                    h2.d-inline.active Zen
            else 
                a.ms-4(href="/leaderboard/zen") 
                    h2.d-inline Zen
    section
        table.table.text-white.table-striped.table-dark
            thead.text-center
                th(colspan=2) User 
                th.border-start Time
            tbody             
                each score in scores
                    tr
                        td(width="64px")
                            a(href="/profile/" + score.id) 
                                if (score.avatar)
                                    img.rounded.avatar(src="/img/users/avatar-"+score.avatar alt=score.username width="64px" height="64px" onerror='this.src = "/img/users/default.webp"')
                                else 
                                    img.rounded.avatar(src="/img/users/default.webp" alt=score.username width="64px" height="64px")
                        td
                            a(href="/profile/" + score.id)= score.username 
                        td.border-start= score.time / 1000 + 's'