extends components/template.pug

block head 
    script(src="/js/clientgame.js") 

block main 
    .gameArea 
        .board
            each i in Array.from(Array(20).keys())
                .row 
                    each i in Array.from(Array(10).keys())
                        .cell
        .sideinfo
            .sendLines 
            .otherInfo
                .held.infoSection
                    h1 Held
                    #heldPiece
                        each i in Array.from(Array(4).keys())
                            .row 
                                each i in Array.from(Array(4).keys())
                                    .cell
                .nextPiece.infoSection
                    h1 Next Piece
                    #nextPiece
                        each i in Array.from(Array(4).keys())
                            .row 
                                each i in Array.from(Array(4).keys())
                                    .cell
    #otherPlayers(hidden)
    br
    button(onclick="newGameLobby('vs')") New Game Lobby 
    button(onclick="startGame()") Start Game
