:root {
    --bg-dark: #222222;
    --bg-game: #353535;
    --bg-sendLines: red;
    --bg-login: #353535;
    --bg-blue: #3474ff;
    --bg-orange: #fa7233;
    --bg-pink: #ff00b3;
}

body {
    background-color: var(--bg-dark);
    height: 100vh;
}

main {
    width: 100%;
    height: 90%;
    position: relative;
    /* padding: 1em; */
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100%;
}

section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameSection {
    text-align: center;
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: center;
    padding: 0;
}

.remaining-height {
    flex-grow: 1;
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-orange {
    background-color: var(--bg-orange);
}

.bg-pink {
    background-color: var(--bg-pink);
}

.large-text {
    font-size: 5vw;
}

.medium-text {
    font-size: 2vw;
}

.gameArea {
    width: 40%;
    max-height: 95%;
    display: inline-block;
    aspect-ratio: 1;
    background: var(--bg-game);
    border-radius: 2px;
    border: 1px solid #555;
    position: relative;
}

#otherPlayers {
    width: 50%;
    max-height: 95%;
    display: inline-block;
    aspect-ratio: 5 / 4;
    background: var(--bg-game);
    border-radius: 2px;
    border: 1px solid #555;
    position: relative;
    margin-left: 16px;
    overflow-y: scroll;
}

.otherPlayer {
    width: 25%;
    height: 50%;
    text-align: left;
    float: left;
    padding: 8px;
}

.gameArea h1 {
    font-size: 2vw;
}

.board {
    position: absolute;
    aspect-ratio: 10 / 20;
    height: 100%;
    background: var(--bg-game);
    display: grid;
    border: 1px solid white;
    border-right: none;
}

.otherBoard {
    height: 85%;
    position: relative;
    float: left;
    border-right: 1px solid white;
}

.sideinfo {
    position: absolute;
    aspect-ratio: 10 / 20;
    height: 100%;
    right: 0;
    background: var(--bg-game);
    border: 1px solid white;
}

.row {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(10, 0.1fr);
}

.cell {
    grid-row: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #444;
}

.sendLines {
    width: 10%;
    height: 100%;
    float: left;
    border-right: 2px solid white;
}

.sendLines::before {
    position: absolute;
    content: "";
    width: calc(10% - 2px);
    height: 40%;
    bottom: 0;
    background: var(--bg-sendLines);
    left: 0;
}

.otherInfo {
    float: left;
    width: 90%;
    height: 100%;
    background: var(--bg-game);
    text-align: center;
}

.otherInfo .infoSection {
    border-bottom: 2px solid white;
}

#heldPiece {
    position: relative;
    width: 50%;
    left: 25%;
    aspect-ratio: 1;
    margin-bottom: 1vh;
}

#heldPiece .row {
    grid-template-columns: repeat(4, 0.25fr);
}

#heldPiece .cell {
    aspect-ratio: 1;
}

#nextPiece {
    position: relative;
    width: 50%;
    left: 25%;
    aspect-ratio: 1;
    margin-bottom: 1vh;
}

#nextPiece .row {
    grid-template-columns: repeat(4, 0.25fr);
}

#nextPiece .cell {
    aspect-ratio: 1;
}

.loginFormContainer {
    width: 100%;
    height: auto;
    padding: 1em;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginFormContainer form {
    padding: 1em;
    background: var(--bg-login);
    width: 40%;
    border-radius: 8px;
    border: 1px solid white;
}

.formFailure {
    background: rgba(255, 0 , 0, 0.25);
    padding: 0.25em;
    border: 1px solid white;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .loginFormContainer form {
        width: 90%;
    }
}

.dropdown-menu-right {
    left: auto !important;
    right: 0 !important;
}

.img-text-height {
    height: 2em;
}

.leaderboardLinks {
    border-bottom: 2px solid grey;
    width: 25%;
}

.leaderboardLinks a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
}

.leaderboardLinks .active {
    color: white;
}

